{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus voluptatibus corrupti cupiditate maiores voluptatem error explicabo excepturi commodi modi, eaque illo dolores ea obcaecati quis! Illo expedita tempore quisquam aperiam praesentium, sunt obcaecati error harum dolorem quo repellendus consequuntur nesciunt ut, sint sit ipsum nemo maiores ducimus voluptas optio? Error?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil corrupti consectetur blanditiis est reiciendis reprehenderit, neque perferendis. Voluptatibus eaque aut ea, non, magni commodi nesciunt qui sed repellat tenetur impedit a natus accusamus dolores est minus ipsa pariatur quia in architecto expedita, voluptatem unde vel? Adipisci atque eaque aliquid consequatur, porro corporis ipsa excepturi, accusantium hic voluptate molestiae corrupti? Suscipit qui consequatur, dolores error eaque reprehenderit distinctio eius maiores voluptatum similique totam quod ad fuga corrupti dolorem modi enim est quibusdam fugit tempore quidem! Sint sequi unde, odio perspiciatis deleniti possimus omnis mollitia at quasi eum, neque tempore ullam sit.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam assumenda nam minus nisi corrupti est pariatur earum fugit, itaque porro neque, ad architecto animi, debitis quae voluptatem non eius accusamus deleniti ex deserunt eos eveniet atque. Porro adipisci deleniti vel voluptatum sunt! Asperiores cumque temporibus magni, fugiat dolorum libero? Molestiae?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}